

.navbar {
    background-color: #8d968e;
}

a {
    font-size: x-large;
    /* font-weight: bold; */
}

.row {
    margin-left: 15px;
}

section {
    margin-left: 50px;
}

.about-me {
    margin-top: 25px;
    background-image: image();
}

#bio-div {
    text-align: right;
    margin-top: 100px;
    margin-left: 100px;
}

#head-shot {
    margin-left: 15px;
}

#tech {
    margin-left: 200px;
    margin-bottom: 50px;
}

.projects {
    margin-left: 50px;
}

.card {
    margin: 25px;
}